*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 50px;
}


header{
    background-color: #000;
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    line-height: 1.5;
    text-align: center;

}

.container{
    padding: 30px;
    text-align: center;

}

#name,#email{
    margin: 5px;
}



